# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Packaging / build
build/
dist/
*.egg
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/
. PythonEnv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors / IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project-specific
*.log


.idea/
