- name: Install
  run: |
    python -m pip install -e .[test] || python -m pip install -e . && python -m pip install pytest coverage
- name: Test with coverage
  run: |
    coverage run -m pytest
    coverage xml
- name: Upload coverage
  uses: actions/upload-artifact@v4
  with:
    name: coverage-${{ matrix.python-version }}
    path: coverage.xml
